/* Paragraphs */
p {
  color: navy;
}

/* Headings (h1 and h2 grouped) */
h1, h2 {
  color: white;
  background-color: #000066;
}

/* Navigation section */
nav {
  background-color: rgb(200, 200, 200);
}
